.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-outline-variant);
  opacity: 0.5;
}

.text {
  padding: 0 16px;
  font-family: var(--font-family-sans);
  font-size: 14px;
  color: var(--color-on-surface-variant);
}
